button{
    padding: 12px 20px;
    background: green;
    color: #fff;
    border: 2px solid goldenrod;
    outline: none;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightcoral
}
.content{
    background: rgba(225, 225, 225, 0.2);
    width: 200px;
    height: 200px;
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}